<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .icon-square {
        width: 3rem;
        height: 3rem;
        border-radius: .75rem;
    }
    .bg-body-secondary {
      --bs-bg-opacity: 1;
      background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
  }
  .fs-4 {
    font-size: calc(1.275rem + .3vw) !important;
}
    </style>
</head>
<body>






    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Admin  Features</h2>
        
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <img src="/static/brilliance.svg" height="30px"/>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">View Sponsor</h3>
              <p>View and manage detailed profiles of all registered sponsors. Update information, verify credentials, and approve new sponsor applications </p>
              <a href="/view/sponsor" class="btn btn-primary">
                view sponsor
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <img src="/static/bag-check-fill.svg" alt="" height="30px"/>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">View Influencer</h3>
              <p>View and manage detailed profiles of all registered influencers. Update information, verify credentials, and approve new influencer applications.</p>
              <a href="/view/influencer" class="btn btn-primary">
                View influencer
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <img src="/static/chat.svg" height="30px"/>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">View Campaign</h3>
              <p>Monitor active and past campaigns. Access campaign details, performance metrics, and influencer collaborations</p>
              <a href="/view/admin/campaign" class="btn btn-primary">
                View Campaign
              </a>
            </div>
            
          </div>
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
              <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <img src="/static/check-circle-fill.svg" height="30px"/>
              </div>
              <div>
                <h3 class="fs-2 text-body-emphasis">View ad_request</h3>
                <p>View and manage all pending ad requests submitted by sponsors. Approve, reject, or request modifications as necessary.</p>
                <a href="/view/ad" class="btn btn-primary">
                  view ad_request
                </a>
              </div>
              
            </div>
        </div>
      </div>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>