<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/s1.css"/>
</head>
<body>




    <div class="p-5 text-center bg-body-tertiary rounded-3 gradient-background ">
        <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
        <h1 class="text-body-emphasis">Create Campaign</h1>
        <form method="post" action="/create/campagin?s={{s}}">
            <label>Enter a Campagin Id  : </label><br>
            <input  name="c_id" type="text"/><br/>
            <label>Enter a Campagin Name : </label><br>
            <input  name="c_name" type="text"  /><br/>
            <label>Enter a Campagin Description : </label><br>
            <input  name="c_description" type="text"  /><br/>
            <label>Enter a status : </label><br>
            <input  name="status" type="text"  /><br/>
            <label>Enter a Start Date : </label><br>
            <input  name="s_date" type="text"  /><br/>
            <label>Enter a End Date : </label><br>
            <input  name="e_date" type="text"  /><br/>
            <label>Enter a goals : </label><br>
            <input  name="goals" type="text"  /><br/>
            <label>Enter a Budget : </label><br>
            <input  name="budget" type="integer"  /><br/>
            <label>Enter a visibility : </label><br>
            <input  name="visibility" type="text"  /><br/>
            
    
       <br>
        <div class="d-inline-flex gap-2 mb-5">
          <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="submit">
            Create Campagin
            <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
          </button>
         
        </form>
        </div>
      </div>







    
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>